body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.element{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
font-size: 1.5em;
font-weight: bold;
top: 50px;
left: 50px;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: green;
cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    
}
.container div{
    cursor: pointer;
    border-radius: .5em;
}